body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font: Roboto;
    margin: 0;
}

.hero-banner-container {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding-bottom: 32px;
}

.header {
    padding: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    gap: 450px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 500px;
}

.title {
    color: #F9faf8;
    font-size: 48px;
    font-weight: 900;
}

.subtitle {
    color: #f9faf8;
    font-size: 18px;
}

.sign-up {
    border: 1px solid #3882f6;
    background: #3882f6;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}

.hero-img {
    width: 400px;
    height: 200px;
}

.middle-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex: 1; */
}

.info-title {
    margin: 32px;
    font-size: 36px;
    font-weight: 900;
}

.img-subtext {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.text-img {
    max-width: 200px;
    text-align: center;
}

.hat, .scarf, .sweater, .bag {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
