body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font: Roboto;
    margin: 0;
}

.hero-banner-container {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding-bottom: 32px;
}

.header {
    padding: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    gap: 450px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 500px;
}

.title {
    color: #F9faf8;
    font-size: 48px;
    font-weight: 900;
}

.subtitle {
    color: #f9faf8;
    font-size: 18px;
}

.sign-up {
    border: 1px solid #3882f6;
    background: #3882f6;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}

.hero-img {
    width: 400px;
    height: 200px;
}

.middle-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex: 1; */
}

.info-title {
    margin: 32px;
    font-size: 36px;
    font-weight: 900;
}

.img-subtext {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.text-img {
    max-width: 200px;
    text-align: center;
}

.hat, .scarf, .sweater, .bag {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 4px solid #3882f6;
}

.midd-section {
    margin-top: 100px;
    padding: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #E5E7EB;
    
}

.quote-section {
   gap: 16px; 
   display: flex;
   flex-direction: column;
}

.citation {
    display: flex;
    align-self: flex-end;
}

.quote {
    display: flex;
    align-self: center;
    font-size: 36px;
    color:#1F2937;
    font-weight: 300;
    font-style: italic;
}

.call-to-action {
    margin: 60px;
    background: #3882f6;
    padding: 28px 60px;
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 52px; 
    border-radius: 5px;
}

.call-to-action-text{
    color: white;
    max-width: 430px;
}

.cta-title {
    font-weight: bold;
}

.bottom-btn {
    background: #3882f6;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    height: 35px;
}

.footer {
    display: flex;
    flex-direction: column;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F2937;
    color: white;
    height: 48px;
}